# Docker
.dockerignore

# Laravel
/vendor
.env
.env.backup
.env.production
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*

# Vue
/node_modules
/dist
.eslintcache

# OS / IDE
.DS_Store
.vscode/php-cs-fixer.phar